In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords
stopw  = set(stopwords.words('english'))

In [3]:

unstructured_df=pd.read_csv('job2.csv')
unstructured_df.head()

,Title,Company,Salary,Description,city,url
0,Data Entry Operator/Computer Operator,Checkmate Services Pvt Ltd,NaN,Verify invoices with attendance and overtime d...,"Fatehgunj, Vadodara, Gujarat",https://in.indeed.com/rc/clk?jk=b2d2dfc3ff0b9d...
1,Fresher/ Exp. International Customer Service A...,Radiant Job,NaN,NO CHARGES OR FEES FOR JOBS. Higher Secondary(...,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=1e6504b389ab1b...
2,Technical Support - Freshers,Mazenet Solution Pvt. Ltd.,NaN,Flexible to relocate to anywhere in India and ...,"Hyderabad, Telangana",https://in.indeed.com/rc/clk?jk=fa02a1cc8ecf50...
3,Graduate Trainee,GSK HR SOLUTION,NaN,"60% throughout in 10th, 12th and Graduation, w...","Goa, Goa",https://in.indeed.com/rc/clk?jk=854b7a4dc90275...
4,Assistant Supervisor,SHUBHAM WAVES,NaN,Hindi and English both (Preferred). We value s...,Remote,https://in.indeed.com/rc/clk?jk=39ca90eecbcc6e...

## Data Cleaning:
### In this step, we will be cleaning our unstructured data and convert it into a suitable text data format required to ML models.

In [4]:

unstructured_df.isnull().sum()

Title              0
Company            0
Salary         11118
Description      167
city               4
url                4
dtype: int64

In [5]:
unstructured_df.dtypes

Title          object
Company        object
Salary         object
Description    object
city           object
url            object
dtype: object

In [6]:
unstructured_df.head()

,Title,Company,Salary,Description,city,url
0,Data Entry Operator/Computer Operator,Checkmate Services Pvt Ltd,NaN,Verify invoices with attendance and overtime d...,"Fatehgunj, Vadodara, Gujarat",https://in.indeed.com/rc/clk?jk=b2d2dfc3ff0b9d...
1,Fresher/ Exp. International Customer Service A...,Radiant Job,NaN,NO CHARGES OR FEES FOR JOBS. Higher Secondary(...,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=1e6504b389ab1b...
2,Technical Support - Freshers,Mazenet Solution Pvt. Ltd.,NaN,Flexible to relocate to anywhere in India and ...,"Hyderabad, Telangana",https://in.indeed.com/rc/clk?jk=fa02a1cc8ecf50...
3,Graduate Trainee,GSK HR SOLUTION,NaN,"60% throughout in 10th, 12th and Graduation, w...","Goa, Goa",https://in.indeed.com/rc/clk?jk=854b7a4dc90275...
4,Assistant Supervisor,SHUBHAM WAVES,NaN,Hindi and English both (Preferred). We value s...,Remote,https://in.indeed.com/rc/clk?jk=39ca90eecbcc6e...

In [7]:
import pandas as pd


unstructured_df['Experience'] = ""
unstructured_df['Keyword'] = ""


def extract_experience(description):
    
    if isinstance(description, str):
        
        if 'experience' in description.lower():
            
            experience_text = description.lower().split('experience')[0].strip()
            
            experience = ''.join(filter(str.isdigit, experience_text))
            return int(experience) if experience else 0
        else:
            return 0
    else:
        return 0

keywords = [
    'software', 'testing', 'teaching', 'support', 'analysis', 'management','business'
    'engineering', 'research', 'design', 'consulting', 'marketing', 'sales', 
    'finance', 'accounting', 'health', 'nursing', 'administration', 'legal', 
    'writing', 'editing', 'product', 'project', 'operations', 'customer', 
    'human resources', 'IT', 'software', 'hardware', 'network', 'security', 
    'data', 'business', 'logistics', 'supply chain', 'construction', 'real estate', 
    'manufacturing', 'quality', 'training', 'education', 'media', 'communications','assistant','trainee'
]


def extract_keyword(title):
   
    if isinstance(title, str):
        
        title_lower = title.lower()
        
        for keyword in keywords:
            if keyword in title_lower:
                return keyword.capitalize()
    return 'Other'


unstructured_df['Experience'] = unstructured_df['Description'].apply(extract_experience)
unstructured_df['Keyword'] = unstructured_df['Title'].apply(extract_keyword)


unstructured_df.to_csv('updated_job_dataset.csv', index=False)


unstructured_df.head()

,Title,Company,Salary,Description,city,url,Experience,Keyword
0,Data Entry Operator/Computer Operator,Checkmate Services Pvt Ltd,NaN,Verify invoices with attendance and overtime d...,"Fatehgunj, Vadodara, Gujarat",https://in.indeed.com/rc/clk?jk=b2d2dfc3ff0b9d...,0,Data
1,Fresher/ Exp. International Customer Service A...,Radiant Job,NaN,NO CHARGES OR FEES FOR JOBS. Higher Secondary(...,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=1e6504b389ab1b...,0,Customer
2,Technical Support - Freshers,Mazenet Solution Pvt. Ltd.,NaN,Flexible to relocate to anywhere in India and ...,"Hyderabad, Telangana",https://in.indeed.com/rc/clk?jk=fa02a1cc8ecf50...,2,Support
3,Graduate Trainee,GSK HR SOLUTION,NaN,"60% throughout in 10th, 12th and Graduation, w...","Goa, Goa",https://in.indeed.com/rc/clk?jk=854b7a4dc90275...,0,Trainee
4,Assistant Supervisor,SHUBHAM WAVES,NaN,Hindi and English both (Preferred). We value s...,Remote,https://in.indeed.com/rc/clk?jk=39ca90eecbcc6e...,0,Assistant